
<div class="content" role="main">
  <h2>Resources</h2>
  <pre>
    Hi Ajay and Wen,

    Please find the below task as you requested. I have included two methods.
        * One is wrapping up JQuery and using the component as a wrapper
        * Second is using Angular Material

    Thank you again for giving me the opportunity.
    Being in an interview gives me an anxiety and made me lose my focus.
    If you give me the chance I will make sure to prove myself by working hard.

    Thanks,
    Henock
  </pre>

  <div class="card-container">
    <app-input-wrapper></app-input-wrapper>
  </div>

  <div class="card-container">
    <app-input-material></app-input-material>
  </div>

</div>



